.input-password {
  display: flex;
  flex-direction: column;
  width: 220px;
  font-family: 'Montserrat';
  margin: 5px 0;

  label {
    width: 200px;
    margin-left: 10px;
  }

  &__input {
    max-width: 200px;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;

    input {
      height: 20px;
      border: 1px solid rgb(199, 199, 199);
      border-radius: 5px;
      width: 200px;
    }

    .bx {
      font-size: 20px;
      position: absolute;
      top: 2px;
      right: 0;
    }
  }
}
